test.cpp
hufzip.cpp
test.txt
test1.txt
SFML/
SFML-build/
build-tetris-Desktop_Qt_5_10_1_MinGW_32bit-Debug/
build-tetris-Desktop_Qt_5_10_1_MinGW_32bit-Release/
tetris-master/
face/
*.exe
*.zip
*.rar
*.out
*.pdf
.vscode/
*.pgm
test*
scikit-image/